{% extends "account/base.html" %}
{% load static %}

{% block content %}
  <div class="container" style="padding:5px;">
    <div class="jumbotron">
      {% if error_message %}
          <div class="alert alert-danger alert-dismissible" style="padding:10px;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Error!</strong><br>
              <p>{{ error_message }}</p>
          </div>
       {% endif %}
        <h3>Login here!</h3>
        <br>

        <form method="post" action="{% url 'blog:login' %}">
          {% csrf_token %}
          <label for="username">Username:</label>
          <input type="text" name="username" placeholder="Username">
            <br><br>
          <label for="password">Password:</label>
          <input type="password" name="password" placeholder="Password">
            <br><br>

        <div>
          <button type="submit" class="btn btn-success" value="Register">Register</button>
        </div>
        </form>

        <br>
    </div>
  </div>
{% endblock %}
