{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<body>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>{{ post.post_name }}</h1>
            </div>
            <div class="col-6" style="text-align:right;">
                <a class="btn btn-warning" href="/comments/{{post.id}}/">View comments</a>
            </div>
        </div>
        <br>
        <h4>
            {% autoescape off %}
                {{ post.post_content }}
            {% endautoescape %}
        </h4>
        <br>
        <div style="background-color: #ffffff;">
            By {{ user.name }}, written on {{ post.date_created }}
        </div>
        <br>
        <a class="btn btn-success" href="{% url 'blog:index' %}">Back</a>
    </div>
</div>

</body>
{% endblock %}
