{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dashboard</title>
        <link rel="shortcut icon" href="{% static 'blog/img/favicon.ico' %}" />


        {% block title %}Home{% endblock %}

        {% block content %}
        {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <p><a href="{% url 'logout' %}">logout</a></p>
        {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a>
        {% endif %}
        {% endblock %}
    </head>
    <body>

    </body>
</html>
